@charset "UTF-8";

/*I have tried to keep things simple to demonstrate my knowledge of creating a soild layout using just the basics without any fancy colours this my approch to this task.*/

*,
*::before,
*::after {
  box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


nav {
	float: right;
	padding-right: 20px;
}

body {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    text-align: justify;
}
main {
    text-align: center;
}


nav ul li {
	list-style-type: none;
	padding-left: 20px;
	text-align: right;
	display: inline-block;
}

.hero-box {
    height: 338px;
    background-size: cover;
    margin: 1%;
    background-image: url(../images/hero-shot.jpg);
}
.hero-b {
    height: 338px;
    background-size: cover;
    margin: 1%;
    background-image: url("../images/wheel.jpg");
}

.hero {
    height: 338px;
    background-size: cover;
    margin: 1%;
    background-image: url("../images/skyline.jpg");
}

h1 {
    color: #FFFFFF;
    font-size: 55px;
    padding-top: 120px;
    padding-left: 60px;
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
    border-style: hidden;
    border-width: thin;
    text-align: center;
}

.col img {
    width: 100%;
    height: auto;
    display: block;
}

.col {
    width: 31.3%;
    float: left;
    margin: 1%;
}
.car {
    background-size: cover;
    margin: 1%;
    text-align: center;
    max-width: 100%;
    position: relative;
    display: block;
	}
p {
    font-size: 1.3rem;
    font-family: 'Dosis', sans-serif;
    text-align: justify;
    line-height: 1.8rem;
    font-weight: 400;
    background-color: #9B9B9B;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 11.5rem;
    padding-right: 11.5rem;
    color: #3D3D3D;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main section h2 {
    margin-top: 2rem;
    color: #3D3D3D;
    background-color: #9B9B9B;
}
.container {
    background-color: #050505;
    margin-top: 0%;
}

.container2 {
    background-color: #4C2E30;
    margin-top: 0%;
}

.container3 {
    background-color: #CBC7BC;
    margin-top: 0%;
}


footer {
    text-align: center;
    background-color: #050505;
    color: #3D3D3D;
    padding-bottom: rem;
}
footer p {
    text-align: center;
}
section {
    text-align: center;
}
header img {
    margin-left: 2%;
}
h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    background-color: #9B9B9B;
    color: #3D3D3D;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

hr {
	margin-left: 1%;
	margin-right: 1%;
}
section ul li {
    background-color: #9B9B9B;
    color: #3D3D3D;
    list-style-type: none;
	font-family: 'Dosis', sans-serif;
}







/*tablet*/
@media (max-width:768px){
	h1 {
		font-size: 40px;
		text-align: center;
		padding-left: 0px;
	}
	.col {
		width: 48%;
	}
	nav ul li {
		display: block;
	}
	.car {
    width: 48%;
	}
	
	header img {
    margin-left: 5%;
}
	p {
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1rem;
    padding-right: 1rem;
	}
	
	hr {
	margin-left: 1%;
	margin-right: 1%;
}
}


/*mobile*/
@media (max-width:400px){
	h1 {
		font-size: 28px;
	}
	.col {
		width: 98%;
	}
	.car {
    width: 98%;
	
	}
	
	header img {
    margin-left: 5%;
}
	p {
	margin-left: 1%;
    margin-right: 1%;
	}
}

	hr {
	margin-left: 1%;
	margin-right: 1%;
}

nav ul li a {
    color: #000000;
    line-height: 2em;
    padding: 0.25em;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    }
